# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
.venv/
venv/

# ==========================
# Build
# ==========================

build/
dist/
*.egg-info/

# ==========================
# IDE
# ==========================

.vscode/
.idea/

# ==========================
# Logs
# ==========================

*.log
logs/

# ==========================
# Cache del proyecto
# ==========================

cache/
temp/

# Si alguna vez decides guardar el proyecto
PDFVoice/

# ==========================
# Audio generado
# ==========================

*.wav

# ==========================
# Sistema
# ==========================

.DS_Store
Thumbs.db

# ==========================
# mpv
# ==========================

*.sock

# ==========================
# Archivos temporales
# ==========================

*.tmp
*.bak
*.swp
*.swo

# ==========================
# Pruebas personales
# ==========================

test_*.pdf
test_*.wav
